<header>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <img class="logo" src="/assets/logo.png">
    <h1 >User form demo</h1>
  </mat-toolbar>
</header>
<mat-sidenav-container>
    <mat-sidenav #snav>
      <mat-nav-list class="nav-list">
        <button (click)="snav.close()" mat-button><a routerLink="profile">Profile</a></button>
        <button (click)="snav.close()" mat-button><a routerLink="information">Information</a></button>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>