<form [formGroup]="userForm" class="form-group">
    <section class="section-pane section-left">
        <div class="img-placeholder">
            <label>
                <img draggable="false" [src]="avatar ? avatar : './assets/user_avatar.png'">
            </label>
        </div>
    </section >
    <section class="section-pane section-right">
        <mat-form-field >
            <input matInput placeholder="First name" formControlName="firstName">
        </mat-form-field>
        <mat-form-field >
            <input matInput placeholder="Last name"formControlName="lastName">
        </mat-form-field>
        <mat-form-field >
            <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field >
            <input matInput placeholder="Phone" formControlName="phone">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Date of birth" readonly formControlName="birthday">
        </mat-form-field>
        <mat-form-field >
            <textarea matInput placeholder="About" formControlName="about"></textarea>
        </mat-form-field>    
        <button mat-button routerLink="/information">Edit user info</button> 
    </section>
</form>